@import "../../../globalStyles/scss/variables.scss";

.home-page {
    &__hero {
        display:flex;
    background-color: $light-green;

    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 14rem 0;
    height:40vw;
    &-text {
      overflow: hidden;
    }

    @media (max-width: $small-screen) {
      align-items: center;
      display: flex;
      flex-direction: column;
     // height: calc(100vh - 56px);
      justify-content: space-between;
      padding: $spacer;

      &-text {
        margin-top: $spacer * 5;
        width: 100%;
      }

      &-action {
        margin-bottom: $spacer * 3;
        width: 100%;
      }
    }

    &__title {
      background-color: transparent;
      display:none;

      @media (max-width: $small-screen) {
        padding: 0.6rem $spacer;
        width: calc(100% - 4rem);
      }

      h1 {
        font-weight: $bold-font-weight;

        color: white;
        font-size: $h1-font-size;
        font-weight: 200;

        @media (max-width: $small-screen) {
          font-size: $h4-font-size;
        }

        @media (min-width: $small-screen) and (max-width: $medium-screen) {
          font-size: 48px;
        }
      }
    }
  }

    &__featured {
        padding: 2rem 0 5rem;

        h2 {
            margin: $spacer * 4 0;

            text-align:center;
            color:$gray-dark;
        }

        h3 {
            color:$green;
        }


        &--banner {
            background:$mushroom;
            h2 {
                margin: $spacer * 2 0;
                color:$green;
                text-align:left;

            }

        }

    }



    &__collections {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        li {
            flex-basis:33.33333%;

        @media (max-width: $small-screen) {
            flex-basis:50%;
        }
            a {
                height:13rem;
                background: url("../../../images/no-photo.svg") no-repeat center;
                background-size:auto;
                align-items:flex-end;
                justify-content:center;
                display:flex;

                margin:0 0 3rem;
                &.basis {
                    background-image:url('../../../images/illustrations/basis.svg');
                }
                &.electric {
                    background-image:url('../../../images/illustrations/electric.svg');
                }
                &.business {
                    background-image:url('../../../images/illustrations/business.svg');
                }
                &.kids {
                    background-image:url('../../../images/illustrations/kids.svg');
                }
                &.touring {
                    background-image:url('../../../images/illustrations/touring.svg');
                }
                &.dogs {
                    background-image:url('../../../images/illustrations/dogs.svg');
                }
            }
        }
        h3 {
            display:block;
            background:white;
            width:100%;
        }
    }


    &__benefits {

        display:block;
        width:100%;
        columns:2;
        @media (max-width: $small-screen) {
            columns:1;
        }
        list-style:circle;
        li {
            line-height:2.5rem;
            margin:0 0 0 2rem;
            padding-left:1rem;
            font-family:$header-font-family;
            font-size:1.25em;
        }
    }


  &__categories {
    margin-bottom: 2rem;

    h3 {
        margin-bottom: 1rem;
        width:18rem;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;

        > div {
          &:nth-child(3) {
            grid-column: 3 / 1;
          }

          &:nth-child(n + 4) {
            display: none;
          }
        }
      }

      a {
          text-decoration: none;
          color: $base-font-color;
          position:relative;
          display:block;
          h3 {
              position:absolute;
              top: 47%;
              left: 50%;
              transform: translate(-50%,-50%);
              color:white;
              font-size:1.9rem;
              text-align:center;
          }
      }

      &__image {
          width: 100%;
          height: 20rem;
          background-size: cover;
          background-position: center;
          margin-bottom: 1rem;
          position:relative;

          &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;

              background-color: rgba($dark-green,.85);
              background-size: 100% 100%;
          }

          &--no-photo {
              background-color: $turquoise-light;
              background-repeat: no-repeat;
              background-size: contain;
          }
      }
    }
  }
}
