@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  margin: 2rem 0 10rem;

  h2 {

    margin: $spacer * 5 0;
    color:$green;
    text-align:center;
    color:$gray-dark;
  }

  h3 {
      color:$green;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    max-width: 255px;
    text-decoration: none;
  }
}
