@import "../../../globalStyles/scss/variables.scss";

.social-icon {
  padding: $spacer $spacer / 2;
  fill: white;
  svg * {
      transition: 0.3s;
      fill:white;

  }

  &:hover {
    svg * {
      fill: #74ad20;
    }
  }
}
