@import "../../../globalStyles/scss/variables.scss";

.footer {

  &__favicons {
    display: flex;
    justify-content: center;
  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
 @media (max-width: $small-screen) {
            flex-wrap:wrap;
        }




      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
        flex-basis:25%;
        @media (max-width: $small-screen) {
            flex-basis:100%;
        }

      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
        color:white;

      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: white;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }

  &-nav {
    background-color: #0d3532;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;

       @media (max-width: $small-screen) {
            flex-wrap:wrap;
        }


      flex div:not(:last-of-type) {
        padding-right: $spacer * 3;
      }
    }

    &__section {
        flex-basis:25%;
           @media (max-width: $small-screen) {
               flex-basis:100%;
               padding-right:0;
        }

        padding-right:4rem;
        &-header {
            color:white;
            margin-bottom: $spacer;
            >img {
                width:100%;
            }
        }

        &-content {
            p,li {

                font-size: $small-font-size;
                color: white;

                a {
                    text-decoration: none;
                    color: white;

                }
            }
            li {margin-bottom:0.5em;}
            form {
                display:flex;
                flex-wrap:wrap;
                input {

                    border:solid 1px white;
                    color:white;
                    padding:0.75rem;
                    font-size:1.1rem;
                    background:#0d3532;

                    width:80%;
                }
                button {
                    background:white;
                    color:black;
                    padding:0 0.5rem;

                    flex-basis:10%;
                }
                .msg-alert {

                    flex-basis: 100%;
                }
            }
        }
    }
  }
}
